{% load static %}
<nav class="navbar navbar-expand-lg custom-navbar">
  <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'quienes_somos' %}">¿Quiénes<br>somos?<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'escuelas' %}">Escuelas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ninos_y_jovenes' %}">Niños y<br>Jovenes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'padres_de_familia' %}">Padres de<br>Familia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'eventos' %}">Eventos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}#noticias">Noticias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}#contacto">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
